apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: nifi-ingress
  namespace: nifi
  annotations:
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - nifi.archse.eng.br
      secretName: nifi-tls
  rules:
    - host: nifi.archse.eng.br
      http:
        paths:
          - path: /nifi
            pathType: Prefix
            backend:
              service:
                name: nifi-service
                port:
                  number: 8443